.footer {
  background-color: #1c1b2f;
}

.footer-block {
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
  line-height: 130%;
  align-items: flex-start;
  display: flex;
  justify-content: space-between;
  gap: 330px;
  padding: 40px 0 50px;
}

.footer-logo {
  margin-bottom: 20px;
}

.footer-text {
  padding-left: 30px;
  max-width: 350px;
  width: 310px;
}

.footer-info {
  display: flex;
  justify-content: space-evenly;
  align-items: stretch;
  gap: 50px;
  margin-top: 33px;
}

.footer-text a {
  text-decoration: underline;
}

.footer-email {
  margin-bottom: 12px;
}

@media (max-width: 320px) {
  .footer-block {
    font-size: 14px;
    padding: 56px 0 60px;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    text-align: center;
  }
  .footer-text,
  .footer-text a {
    padding-left: 0;
    max-width: 231px;
    font-size: 12px;
    color: #d3d3d8;
  }
  .footer-logo {
    display: none;
  }
  .footer-info {
    flex-direction: column;
    order: 1;
    gap: 40px;
  }
  .block-logo {
    order: 2;
  }
  .footer-email {
    margin-bottom: 12px;
  }
}
