.info-back {
  background: url("images/log-info.png") no-repeat;
  padding-bottom: 130px;
  background-position: right;
}

.info-header h1 {
  font-size: 54px;
  line-height: 120%;
  font-weight: 800;
  margin-bottom: 20px;
  letter-spacing: 0.02em;
}

.info-header h2 {
  font-size: 38px;
  font-weight: 800;
  line-height: 120%;
  color: #9c9ca2;
  margin-bottom: 60px;
}

.about-us {
  list-style-image: url("images/list.png");
  margin-bottom: 40px;
}

.about-us li {
  font-size: 22px;
  font-weight: 600;
  line-height: 130%;
  padding-bottom: 22px;
  max-width: 462px;
}

.about-us p {
  margin-left: 24px;
}

@media (max-width: 320px) {
  .info-header h1 {
    font-size: 26px;
    margin-bottom: 10px;
    letter-spacing: 0.02em;
  }
  .info-header h2 {
    font-size: 18px;
    margin-bottom: 50px;
  }
  .info-back {
    background: none;
    padding-bottom: 0;
  }
  .about-us li {
    font-size: 14px;
    padding-bottom: 20px;
  }
  .about-us p {
    margin-left: 20px;
    max-width: 170px;
  }
  .about-us {
    list-style-image: url("images/list320px.png");
    margin-bottom: 30px;
    padding-inline-start: 28px;
  }
  .sv-btn {
    display: none;
  }
  .info {
    background-image: url("images/img-info320px.png");
    background-repeat: no-repeat;
    background-position: right bottom 52px;
  }
}
