.background-reg {
  background-color: #fffcfa;
}

.reg-block {
  display: flex;
  justify-content: space-between;
  gap: 180px;
}

.reg-img {
  width: 100%;
  height: 50%;
  flex: content;
  position: relative;
  left: 0;
  top: 170px;
}

.reg-possibl {
  margin: 120px auto 140px;
}

.reg-possibl h2 {
  font-size: 38px;
  font-weight: 800;
  line-height: 120%;
  margin-bottom: 40px;
}

.reg-possibl h3 {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 30px;
}

.list-reg {
  font-size: 18px;
  line-height: 146%;
  font-weight: 600;
  max-width: 600px;
  margin: 0 0 74px 0;
  padding-inline-start: 0;
  list-style-position: inside;
  list-style: none;
}
.list-item {
  max-width: 350px;
}

.list-item1 {
  border-left: 4px solid #f38f57;
}

.list-item2,
.list-item3 {
  border-left: 4px solid #f38f57;
}

.list-reg p {
  margin-left: 17px;
  margin-bottom: 22px;
}

@media (max-width: 320px) {
  .reg-possibl h2 {
    font-size: 22px;
    letter-spacing: 0.02em;
    margin-bottom: 56px;
    padding-top: 50px;
  }
  .reg-possibl h3 {
    font-size: 14px;
    margin-bottom: 20px;
  }
  .list-reg {
    font-size: 14px;
    line-height: 130%;
    font-weight: 500;
    max-width: 600px;
    padding-inline-start: 0;
    list-style-position: inside;
    list-style: none;
    margin: 0 0 54px 0;
  }
  .list-item {
    max-width: 206px;
  }
  .reg-block {
    display: inline-block;
  }
  .reg-img {
    display: none;
  }
  .reg-possibl {
    margin: 0;
  }
  .reg-btn {
    display: none;
  }
  .background-reg {
    background-image: url("images/reg-img320px.svg");
    background-repeat: no-repeat;
    background-position: right top 82%;
  }
  .list-reg p {
    margin-left: 12px;
    margin-bottom: 20px;
    max-width: 166px;
  }
}
